blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

/*set width of body*/
body {
  max-width: 960px;
}

#external-links {
  display: inline-block; /* allows to set external-links side-by-side with main */
  width: 20%; /* 20% of body = 200px */
  vertical-align: top; /* aligns to top */
  min-width: 200px; /* keeps lines from getting too short */
  padding-right: 5px;
  padding-top: 5px;
}

/* set the width of the main */
main {
  display: inline-block; /* allows to set main side-by-side with External-links */
  width: 70%; /* 80% of body = 756px doesn't work, then I set 70% (672px)*/

  padding: 4px 4px; /* top, left */
}


cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  min-width: 200px; /* keeps lines from getting too short */
  padding-right: 5px;
  padding-top: 5px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
/* Allows font size doesnt get too small*/
@media screen and (max-width: 500px) {
  #external-links ul {
    font-size: 12px;
  }
}

@media screen and (max-width: 1045px){
   #external-links ul {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
